<header>

    <div class="navbar">
            <a href="#" class="nav-item">Accueil  |</a>
            <a href="#" class="nav-item">A propos de moi  |</a>
            <a href="#" class="nav-item">Technologies  |</a>
            <a href="#" class="nav-item">Expériences  |</a>
            <a href="#" class="nav-item">Formations  |</a>
            <a href="#" class="nav-item">Projets  |</a>
            <a href="#" class="nav-item">Contact  |
            </a>
    </div>

</header>