<header>

    <div class="navbar">
            <a href="#" class="nav-item"><div class="logo-nav"><img src="{{ asset("assets/img/TIPI.png") }}" alt="" class="imgFluid"></div></a>
        <a href="#" class="nav-item"><p>A propos de moi  |</p></a>
        <a href="#" class="nav-item"><p>Technologies  |</p></a>
        <a href="#" class="nav-item"><p>Expériences  |</p></a>
        <a href="#" class="nav-item"><p>Formations  |</p></a>
        <a href="#" class="nav-item"><p>Projets  |</p></a>
        <a href="#" class="nav-item"><p>Contact  |</p></a>
    </div>

</header>