<header>

    <div class="navbar">
            <a href="#" class="navItem">Accueil  |</a>
            <a href="#" class="navItem">A propos de moi  |</a>
            <a href="#" class="navItem">Compétences  |</a>
            <a href="#" class="navItem">Expériences  |</a>
            <a href="#" class="navItem">Formations  |</a>
            <a href="#" class="navItem">Projets  |</a>
            <a href="#" class="navItem">Contact  |
            </a>
    </div>

</header>