.experience-section{
  width: 100%;
  height: auto;
}

.exp-thumbnail, .exp-thumbnail2{
  display: flex;
  align-items: center;
  height: 200px;
  margin-bottom: 30px;
}

.exp-thumbnail{
  margin-left: 45%;
}

.exp-thumbnail2{
  flex-direction: row-reverse;
  margin-right: 44%;
}

.exp-date{
  width: 20%;
  height: 200px;
}

.top-line, .bottom-line{
  width: 2px;
  height: 80px;
  background-color: black;
  margin-left: 50%;
}

.top-line{
  margin-bottom: 10px;
}

.bottom-line{
  margin-top: 10px;
}

.exp-info{
  width: 70%;
  height: 200px;
  border: 2px solid black;
}

.block-date{
  display: flex;
  margin-left: 45%;
}




