.experience-section{
  width: 100%;
  height: auto;
}

.exp-thumbnail{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;

}

.exp-date{
  width: 20%;
  height: 200px;

}

.top-line, .bottom-line{
  width: 2px;
  height: 80px;
  background-color: black;
  margin-left: 50%;
}

.top-line{
  margin-bottom: 10px;
}

.bottom-line{
  margin-top: 10px;
}

.exp-info{
  width: 40%;
  height: 200px;
}

.block-date{
  display: flex;
  margin-left: 45%;
}

.right-line{
  width: 80%;
  height: 2px;
  background-color: black;
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 10px;
}2



