.navbar{
  width: 100%;
  height: 5vh;
  background-color: #A8A8A8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navItem{
  margin-right: 5%;
  text-decoration: none;
  color: black;
}

