.profile-section{
  width: 100%;
  height: auto;
  background-image: url("../img/fond.png");
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
  box-shadow: 0 8px 6px -6px black;
}

.profile-picture{
  width: 30%;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 35%;
  margin-top: 5%;
  border: 10px solid #109978;
}

.profile-info{
  width: 40%;
  box-shadow: 0 8px 6px -6px black;
  margin-left: 30%;
}

.profile-info:hover{
  background-color: #70FF92;
  border-radius: 2%;
}

.toggle-modal{
  text-align: center;
  color: #fff;
  z-index: 0;
  cursor: pointer;
}

#modal{
  position: fixed;
  min-height: 70vh;
  width: 500px;
  background-color: #fff;
  color: #333333;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-250%);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
  z-index: 11;
  opacity: 0;
  transition: all .5s ease;
}

#modal.is-open{
  transform: translateY(-50%);
  opacity: 1;
}

.modal-close{
  position: absolute;
  top: 2px;
  right: 8px;
  transform: rotate(45deg);
  font-size: 30px;
  cursor:pointer;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}