@import "navbar";
@import "profileSection";
@import "technoSection";
@import "expeSection";
@import "educationSection";

@font-face {
  @import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
  font-family: 'Oxygen', sans-serif;
}

@font-face {
  @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

h1, h2{
  text-align: center;
  margin: 0;
}

h1{
  font-size: 3em;
  padding-top: 30px;
}

.imgFluid{
  width: 100%;
  height: auto;
}