.navbar {
  width: 100%;
  height: 10vh;
  background-color: #109978;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky; }

.logo-nav {
  margin-top: 12px; }

.nav-item {
  width: 10%;
  height: 60px;
  margin-right: 5%;
  text-decoration: none;
  color: black; }

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0; }

.profile-section {
  width: 100%;
  height: auto;
  background-image: url("../img/fond.png");
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
  box-shadow: 0 8px 6px -6px black; }

.profile-picture {
  width: 30%;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 35%;
  margin-top: 5%;
  border: 10px solid #109978; }

.profile-info {
  width: 40%;
  box-shadow: 0 8px 6px -6px black;
  margin-left: 30%; }

.profile-info:hover {
  background-color: #70FF92;
  border-radius: 2%; }

.toggle-modal {
  text-align: center;
  color: #fff;
  z-index: 0;
  cursor: pointer; }

#modal {
  position: fixed;
  min-height: 70vh;
  width: 500px;
  background-color: #fff;
  color: #333333;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-250%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  z-index: 11;
  opacity: 0;
  transition: all .5s ease; }

#modal.is-open {
  transform: translateY(-50%);
  opacity: 1; }

.modal-close {
  position: absolute;
  top: 2px;
  right: 8px;
  transform: rotate(45deg);
  font-size: 30px;
  cursor: pointer; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.techno-section {
  width: 100%;
  height: 500px;
  align-items: center;
  padding-top: 100px; }

.techno-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px; }

.techno-item {
  width: 10%;
  height: auto; }

.experience-section {
  width: 100%;
  height: auto; }

.experience-section h1 {
  margin-bottom: 50px; }

.exp-thumbnail, .exp-thumbnail2 {
  display: flex;
  align-items: center;
  height: 300px; }

.exp-thumbnail {
  margin-left: 606px; }

.exp-thumbnail2 {
  flex-direction: row-reverse;
  margin-right: 44%; }

.exp-date {
  width: 20%;
  height: 300px; }

.date-info {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center; }

.date-info:hover {
  background-color: #109978; }

.top-line, .bottom-line {
  width: 2px;
  height: 115px;
  background-color: black;
  margin-left: 50%; }

.top-line {
  margin-bottom: 12px; }

.bottom-line {
  margin-top: 10px; }

.exp-info {
  width: 70%;
  height: 300px;
  box-shadow: 10px 5px 5px #bbc1ca;
  border-radius: 50px;
  overflow: hidden;
  background-color: white; }

.exp-info h2 {
  background-color: #109978; }

.block-date {
  display: flex;
  margin-left: 35%; }

.top-arrow {
  width: 25px;
  height: auto;
  position: relative;
  margin-left: 668px; }

.education-section {
  width: 100%;
  height: 500px;
  margin-top: 50px;
  background-image: url("../img/fond-top.png");
  background-size: cover;
  background-position: center; }

.education-list {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.education-thumbnail {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  border-radius: 4px;
  perspective: 900px;
  background-color: transparent; }

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all .7s;
  transform-style: preserve-3d; }

.education-thumbnail:hover .card {
  transform: rotateY(-180deg); }

.front {
  background-color: #D0EBBC; }

.back {
  background-color: #83D1BE;
  transform: rotateY(-180deg); }

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  color: black;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  backface-visibility: hidden; }

.eduction-hr {
  width: 70%;
  height: 2px;
  background-color: white;
  margin-top: 25%; }

.front h2, .front h3 {
  margin-top: 20px; }

.eduction-image {
  width: 50%;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 25%;
  margin-top: 10%; }

.back p {
  width: 90%;
  height: auto;
  margin-left: 5%;
  text-align: center; }

.contact-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: auto; }

.contact-thumbnail {
  width: 10%;
  height: auto; }

.project-thumbnail {
  width: 20%;
  height: 300px;
  overflow: hidden; }

.project-image-thumbnail {
  width: 100%;
  height: auto; }

.project-box {
  width: 100%;
  height: auto; }

.project-description {
  width: 60%;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px; }

.project-images-block {
  width: 100%;
  height: auto;
  margin: 0 auto; }

.project-image {
  width: 60%;
  height: auto;
  margin: 0 auto; }

@font-face {
  @import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");
  font-family: 'Oxygen', sans-serif; }
@font-face {
  @import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
  font-family: 'Poppins', sans-serif; }
body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif; }

h1, h2, h3 {
  text-align: center;
  margin: 0; }

h1 {
  font-size: 3em;
  padding-top: 30px; }

a:hover {
  background-color: #70FF92; }

.imgFluid {
  width: 100%;
  height: auto; }

section {
  margin-bottom: 5%; }

/*# sourceMappingURL=style.css.map */
