<div class="contact-section">

    <h1>Contact</h1>

    <div class="contact-list">

        <div class="contact-thumbnail">
            <div class="contact-img">
                <img src="{{ asset('assets/img/ico.phone.png') }}" alt="" class="imgFluid">
            </div>
            <p>06 70 29 85 13</p>
        </div>

        <div class="contact-thumbnail">
            <div class="contact-img">
                <img src="{{ asset('assets/img/ico_mail.png') }}" alt="" class="imgFluid">
            </div>
            <p>teddy.perissinotto@lapiscine.pro</p>
        </div>

        <div class="contact-thumbnail">
            <div class="contact-img">
                <img src="{{ asset('assets/img/ico_position.png') }}" alt="" class="imgFluid">
            </div>
            <p>23 rue de millassot - 33210 Toulenne</p>
        </div>

    </div>

</div>