<div class="education-section">

    <h1>Formation</h1>

    <div class="education-list">

        {%  for education in educations %}

            <div class="education-thumbnail">

                <h2>{{ education.year }}</h2>

                <h3>{{ education.school}} - {{ education.city }}</h3>

                <hr>

                <h3>{{ education.diploma }}</h3>

            </div>

        {% endfor%}
    </div>
</div>