<div class="education-section">

    <h1>Formation</h1>

    <div class="education-list">

        <div class="education-thumbnail">

            <div class="card">

                <div class="front">

                    <h2>2007</h2>
                    <h3>Lycée Anatole de Monzie</h3>
                    <h3>BAZAS</h3>

                    <hr class="eduction-hr">

                    <h3>BEP Métiers du tertiaire</h3>

                </div>

                <div class="back">
                    <div class="eduction-image">
                        <img src="{{ asset('assets/img/anatole-logo.jpg') }}" alt="logo LYCEE ANATOLE DE MONZIE" class="imgFluid">
                    </div>
                    <p>Préparation au métier de Comptable</p>

                </div>
            </div>

        </div>

        <div class="education-thumbnail">

            <div class="card">

                <div class="front">

                    <h2>2019</h2>

                    <h3>La Piscine</h3>
                    <h3>TALENCE</h3>

                    <hr class="eduction-hr">

                    <h3>Titre professionnel<br>Développeur Web & Web Mobile</h3>

                </div>

                <div class="back">
                    <div class="eduction-image">
                        <img src="{{ asset('assets/img/logo-piscine.png') }}" alt="logo LA PISCINE" class="imgFluid">
                    </div>
                    <p>Apprentissage de différents langages de développement :<br><br> HTML, CSS , Bootstrap, jQuery, SQL, PHP, Symfony, Prestashop, Wordpress</p>
                </div>

            </div>

        </div>

    </div>
</div>