<div class="experiment-section">

    <h1>Expériences professionelles</h1>

    <div class="exp-thumbnail">

        <div class="exp-date">

            <div class="top-line"></div>

            <div class="block-date">
                <div class="date-info">2019</div>
                <div class="right-line"></div>
            </div>

            <div class="bottom-line"></div>

        </div>

        <div class="exp-info">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam expedita facilis laudantium nesciunt perspiciatis rem totam voluptates! Alias aperiam autem dolorem eum hic id inventore molestiae rerum unde ut? Adipisci.</p>

        </div>

    </div>

</div>