{% extends 'base/base.html.twig' %}

{% block main %}

    <div class="profileSection">

        <div class="profilePicture">
            <img src="{{ asset('assets/img/profil_picture.jpg') }}" class="imgFluid" alt="Ceci est ma photo de profil">
        </div>

        <h2>Teddy Perissinotto</h2>

    </div>
{% endblock %}


