{% extends 'base/base.html.twig' %}

{% block main %}
    <section>
        {% include 'profilSection.html.twig' %}
    </section>
    <section>
        {% include 'technoSection.twig' %}
    </section>
    <section>
        {% include 'expeSection.html.twig' %}
    </section>
    <section>
        {% include 'educationSection.html.twig' %}
    </section>
    <section>
        {% include 'contactSection.html.twig' %}
    </section>
{% endblock %}


