<div class="profile-section">

    <div class="profile-picture">
        <img src="{{ asset('assets/img/profil_picture.jpg') }}" class="imgFluid" alt="Ceci est ma photo de profil">
    </div>

    <div class="profile-info">
        <div class="toggle-modal" onclick="openModal()">
            <h1>Teddy Perissinotto</h1>
            <h2>Développeur Web Junior</h2>
        </div>
    </div>

    <div id="modal">
        <div class="modal-close" onclick="closeModal()">+</div>
        <h2>Voici la modal</h2>
        <p>Après avoir intégré la vie active depuis l’âge de 18 ans, j’ai ressenti l’envie de  faire évoluer ma carrière professionnelle dans un domaine qui m’a toujours passionné en me dirigeant vers le titre de Développeur Web et Web Mobile.<br><br>
            J’ai donc décidé de reprendre un cursus de formation au sein de LA PISCINE à Talence qui m’a apporté de nouvelles compétences et plus d’épanouissement pour mon avenir professionnel et souhaite continuer à approfondir mes connaissances théoriques et pratiques.<br><br>
            Suite à cette formation, j’ai validé mon titre professionnel de développeur web et web mobile et je souhaite maintenant faire mes preuves et m’enrichir de l’expérience de mes futurs collègues.
        </p>
    </div>



</div>