<div class="profile-section">


    <div class="profile-picture">
        <img src="{{ asset('assets/img/profil_picture.jpg') }}" class="imgFluid" alt="Ceci est ma photo de profil">
    </div>

    <div class="profile-info">
        <h1>Teddy Perissinotto</h1>
        <h2>Développeur Web Junior</h2>
    </div>

</div>