<div class="project-section">

    <h1>Mes projets</h1>

        <article>
            <a href="{{ path('project_lcdp') }}">
                <div class="project-thumbnail">
                    <h2>Les Créatifs de Puygareau</h2>
                    <div class="project-image-thumbnail">
                        <img src="{{ asset('assets/img/01-lcdp-homepage.png')}}" alt="" class="imgFluid">
                    </div>
                </div>
            </a>
        </article>

</div>