<div class="project-section">

    <h1>Mes projets</h1>

    {% for project in projects %}
        <article>
            <a href="{{ path('project_by_id', {'id': project.id}) }}">
                <div class="project-thumbnail">
                    <h2>{{ project.name }}</h2>
                    <div class="project-image-thumbnail">
                        <img src="{{ asset('assets/img') }}/{{ project.image1 }}" alt="" class="imgFluid">
                    </div>
                </div>
            </a>
        </article>

    {% endfor %}
</div>